:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*for mobile*/
@media only screen and (min-width:400px){
    body{ background-image: url("../img/bg_001.jpg");     
    }
    /*hamburger*/
    .hamburger{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        width: 4vh;
        height:4vh;    
    
    }
    .hamburger-div{
        width: 4vh;
        border: 0.2rem black solid;
        
    }
    .drop-menu-father{
        
    animation-name: drop-m;
    animation-duration: 3s;
    animation-timing-function: linear;
    }
    @keyframes drop-m {
        0%{
    opacity: 0.5;
    transition: all 500ms ease-in;
        }
        50%{
            opacity: 0.3;
            transition: all 700ms ease-in;
        }
        100%{
            opacity: 0.1;
            transition: all 9s00ms ease-in;
        }
    

    }
    .drop-menu{
        width: 8vw;
        height: 44vh;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }
        

    
    


.drop-menu li{
    width: 100%;
    height: 30%;
    list-style: none;
    right:  4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color:yellow;
    top: 0;

}
 .drop-menu-word{
    text-decoration: none;
    color:black;
    font-size: 1rem;


}
.drop-menu-word:hover{
    background-color: tomato;
}
    
    

.hamburger:hover > .hamburger-div-first-line{
    transform: rotate(0.35turn);
    position: absolute;
    
    }
    
    .hamburger:hover > .hamburger-div-second-line{
        display: none;
        }
    
    .hamburger:hover > .hamburger-div-third-line{
        transform: rotate(-0.35turn);
        }
    /* navigation */
    .nav-li{     
        display: none;     
           margin: 2rem;
        list-style: none;
    }
    .nav.a{
    color: white;
    text-decoration: none;
    }
    nav {
        position: absolute;
    
    }

    /* logo */
    .img1{
        width: 8vw;
        height: 10vh;
        position: relative;
        top: 2vw;
        min-width: 2rem;
        max-width: 15rem;
        left: 48vw;
        margin-bottom: 3rem;
    } 
    /* Body and main content */   
    .sec{
        width: 50vw;
        left:  23%;
        top: 22vh;
        position: relative;
        height: 20%;
    }
    h1{
        font-family:'Times New Roman', Times, serif;
        font-size: 3vw;
        text-align: center;
        width: 100%;
        height: 8rem;
        color:white;
        margin-top: 4vh;   
    }
    p{
        font-family:Arial, Helvetica, sans-serif;
        font-size: 2vw;
        text-align: center;
        width: 100%;
        height:10vh;
        color:white;
    }
    /* Bottons  */
    input{
        padding: 0;
        margin:3rem 4.5rem;
    }
    .input1{
        background-color: rgb(8, 238, 65);
        width: 22vw;
        height: 8vh;
        border: none;
        outline: none;
        margin-right: 4rem;
    }
    .input2{
        background-color: rgb(0, 174, 255);
        width: 22vw;
        height: 8vh;
        border: none;
        outline: none;
    }
    /* for the text on the left */
    #img2{      
        right: 41%;
        top: 33%;
        position: absolute;        
    }
    #img3{
    position: absolute;        
        top:  20%;
        left: 49%;
     }
     .img4{
         height: 12vh;
         width: 10vw;
         position: absolute;
     }
     .img1:hover{
    background-color: crimson;
     }
     .sect1{
         height: 50%;
         width: 50%;
     }
    }

     @media only screen and (min-width: 900px){
body{
    background-image: url("../img/bg_001.jpg");
}
header{
    width: 100vw;
    height: 4vh;
}

.hamburger{
    display: flex;
    justify-content: space-evenly;
    align-content:flex-start;
    flex-direction: column;
    width: 5%;
    height:4vh;    
}
.hamburger-div{
    width: 4vh;
    border: 0.2rem black solid;
}
.drop-menu-father{
    height: 50vh;
    width: 6vw;
    animation-name: drop;
animation-duration: 3s;
animation-timing-function: linear;
}
@keyframes drop {
    0%{
opacity: 0.5;
transition: all 500ms ease-in;
    }
    50%{
        opacity: 0.3;
        transition: all 700ms ease-in;
    }
    100%{
        opacity: 0.1;
        transition: all 9s00ms ease-in;
    }

    
}
.drop-menu{
     
    width: 6vw;
    height: 50vh;
visibility: none;
display: flex;
justify-content: space-between;
align-items: flex-start;
flex-direction: column;


} 
    


.drop-menu li{
    width: 90%;
    height: 30%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 0;
    left: -2vw;

}
 .drop-menu-word{
    text-decoration: none;
    color:black;
    font-size: 1.5rem;
    background-color: yellow;

}
.drop-menu-word:hover{
background-color: tomato;
}

.hamburger:hover > .hamburger-div-first-line{
transform: rotate(0.10turn);

}

.hamburger:hover > .hamburger-div-second-line{
    display: none;
    }

.hamburger:hover > .hamburger-div-third-line{
    transform: rotate(-0.10turn);
    }
/* navigation */
.nav-li{     
    display: inline;
}
.nav-ul{
    list-style: none;
    display: flex;
    
}
.nav-a{
color:white;
text-decoration: none;
font-size: 1.2rem;
font-weight: bolder;
}
.nav{
    left: 30%;
    top: -1%;
    height: 1vh;
    width: 60%;
}

/* logo */
.img1{
    width: 12vw;
    height: 10vh;
    position: relative;
    top: 2vw;
    min-width: 6rem;
    max-width: 15rem;
    left: 15vw;
    margin-bottom: 3rem;
}
/* Body and main content */
.sec{
    width: 50vw;
    top: 2rem;
    position: absolute;
    top: 22vh;  
    height: 50%;
    left: 10vw;
    float: left;
}
h1{
    font-family:'Times New Roman', Times, serif;
    font-size: 3vw;
    text-align: center;
    width: 100%;
    height: 8rem;
    color:white;    
}
p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2vw;
    text-align: left;
    width: 100%;
    height:10vh;
    color:white;
}
/* Bottons  */
input{
    padding: 0;
    margin:3rem 4.5rem;
}
.input1{
    background-color: rgb(8, 238, 65);
    width: 12vw;
    height: 8vh;
    border: none;
    outline: none;
    margin-right: 4rem;
}
.input2{
    background-color: rgb(0, 174, 255);
    width: 12vw;
    height: 8vh;
    border: none;
    outline: none;
}
/* for the text on the left */
#img2{
       right: 20%;
    top: 20%;
    z-index: 1;
}
 .img4{
     height: 66vh;
     width: 17vw;
     position: absolute;
 }
 .img1:hover{
background-color: crimson;
 }
 #img3{  
    top: 15%;
    right:40%;
    left: 70%;
    z-index: -1;
 }
 .sect1{
     height: 50%;
     width: 50%;
     float: left;   
 }
}


 
    /* for tablet*/
    @media only screen and (max-width: 800px) {
    body{
        background-image: url("../img/bg_001.jpg");
    }
    /*hamburger*/
    .hamburger{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        width: 4vh;
        height:4vh;    
    
    }
    .hamburger-div{
        width: 4vh;
        border: 0.2rem black solid;
        
    }

.drop-menu-father{
    width: 4vw;
    height: 50vh;
    animation-name: drop;
    animation-duration: 3s;
    animation-timing-function: linear;
    }
    @keyframes drop {
        0%{
    opacity: 0.5;
    transition: all 500ms ease-in;
        }
        50%{
            opacity: 0.3;
            transition: all 700ms ease-in;
        }
        100%{
            opacity: 0.1;
            transition: all 9s00ms ease-in;
        }
    
        
}
    .drop-menu{
    
        width: 9vh;
        height: 50;
        display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    list-style: none;
   
    }
    
    .drop-menu li{
        width: 90%;
        height: 20%;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        background-color:yellow;
    right:  5vw;
    
    
    }
     .drop-menu-word{
        text-decoration: none;
        color:black;
        font-size: 1rem;
        
    
    }
    .drop-menu-word:hover{
        background-color: tomato;
    }
        
        
.hamburger:hover > .hamburger-div-first-line{
    transform: rotate(0.35turn);
    position: absolute;
    }
    
    .hamburger:hover > .hamburger-div-second-line{
        display: none;
        }
    
    .hamburger:hover > .hamburger-div-third-line{
        transform: rotate(-0.35turn);
        }
    /* navigation */

    .nav-ul {
        list-style: none; 
    }

    .nav-li{     
        display: none;     
           margin: 2rem;

    }
    .nav.a{
    color: white;
    text-decoration: none;
    }
    nav {
        position: absolute;
    
    }


    /* logo */
    .img1{
        width: 12vw;
        height: 10vh;
        position: relative;
        top: -66vw;
        min-width: 6rem;
        max-width: 15rem;
        left: 38vw;
    }
    /* Body and main content */
    .sec{
        width: 50vw;
        left:  23%;
        top: -20vh;
        position: relative;
        height: 10vh;
    }
    h1{
        font-family:'Times New Roman', Times, serif;
        font-size: 3vw;
        text-align: center;
        width: 100%;
        height: 8vh;
        color:white;
     
    }
    p{
        font-family:Arial, Helvetica, sans-serif;
        font-size: 2vw;
        text-align: center;
        width: 100%;
        height:10vh;
        color:white;
    }
    /* Bottons  */
    input{
        margin:1rem ;
        position: relative;
        left: 22%;
        right: 10%;
    }
    .input1{
        background-color: rgb(8, 238, 65);
        width: 22vw;
        height: 4vh;
        border: none;
        outline: none;
    }
    .input2{
        background-color: rgb(0, 174, 255);
        width: 22vw;
        height: 4vh;
        border: none;
        outline: none;
    }
    /* for the text on the left */
    #img2{      
        right: 45%;
        top: 20%;
        position: absolute;   
        margin-top: 2vh;     
    }
    #img3{
    position: absolute;        
        top:  40%;
        left: 45%;
     }
     .img4{
         height: 16vh;
         width: 10vw;
     }
     .img1:hover{
    background-color: crimson;
     }
     .sect1{
         height: 50%;
         width: 50%;
         
    }
}