.img1{
    width: $logo-width;
    height: $logo-height;
    position: relative;
    top: 2vw;
    min-width: 2rem;
    max-width: 15rem;
    left: 22vw;
    margin-bottom: $logo-margin;
}

.img4{
    height: 39vh;
    width: 10vw;
}
#img2{      
    right: 12%;
    top: 20%;
    position: absolute;   
    margin-top: 2vh;     
}
#img3{
position: absolute;        
    top:  30%;
    left: 73%;
 }
 
 .sect1{
     height: 50%;
     width: 50%;
     
}
