.sec{
    width: $text-section-width;
    left:  15%;
    position: relative;
    height: $text-section-height;
    top: 8vh;
}
h1{
    font-family:'Times New Roman', Times, serif;
    font-size: $h1-font-size;
    text-align: center;
    width: $h1-width;
    height: $h1-height;
    color:white;
 
}
p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: $p-font-size;
    text-align: center;
    width: $h1-width;
    height:$p-height;
    color:$p-color;
    margin-top: 4vh;
}
/* Bottons  */
input{
margin: $input-margin;
position: relative;
top: 8vh;    
}
.input1{
    background-color: $input1-background-color;
    width: $input1-width;
    height: $input1-height;
    border: none;
    outline: none;
}
.input2{
    background-color: $input2-background-color;
    width: $input1-width;
    height: $input1-height;
    border: none;
    outline: none;
}