$normalized-margin: 0;
$normalized-padding: 0;
$normalized-font-size: 16px;
$header-width: 100vh;
$header-height: 4vw;
$hamburger-width: 4vw;
$hamburger-height: 8vh;
$hamburger-div-width:4vh;
$hamburger-div-border: 0.2rem black solid;
$drop-menu-width: 8vw;
$drop-menu-height: 44vh;
$drop-menu-li-width: 100%;
$drop-menu-li-height: 30%;
$drop-menu-li-background-color: yellow;
$drop-menu-word-color: black;
$drop-menu-word-font-size: 1rem;
$drop-menu-word-hover-background-color: tomato;
$nav-width: 80%;
$nav-margin: 2rem;
$nav-color: white;
$logo-width: 16vw;
$logo-height: 12vh;
$logo-margin: 3rem;
$bothimg-width: 10vw;
$bothimg-height: 39vh;
$img2-margin: 2vh;
$text-section-width: 50vw;
$text-section-height: 10vh;
$h1-font-size: 3vw;
$h1-width: 100%;
$h1-height: 8vh;