$normalized-margin: 0;
$normalized-padding: 0;
$normalized-font-size: 16px;
$header-width: 100vh;
$header-height: 4vw;
$hamburger-width: 4vw;
$hamburger-height: 8vh;
$hamburger-div-width:4vh;
$hamburger-div-border: 0.2rem black solid;
$drop-menu-width: 8vw;
$drop-menu-height: 44vh;
$drop-menu-li-width: 100%;
$drop-menu-li-height: 30%;
$drop-menu-li-background-color: yellow;
$drop-menu-word-color: black;
$drop-menu-word-font-size: 1rem;
